 body {
        font-family: Arial, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background: #222;
        color: #fff;
        font-size: 50px;
    }